* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

ul ,li {
	list-style: none;
}

input {
	border: none;
}

img {
	display: inline-block;
}

body {
	background: #f5f5f5;
}



.bx {
	width: 1226px;
	margin: 0 auto;
}

.headerwrap {
	height: 40px;
	background: #333333;
}

.header {
	height: 40px;
	
}

.header-l {
	width: 735px;
	float: left;
	
}


.header-l ul li {
	float: left;
	height: 40px;
	line-height: 40px;
	margin-right: 9px;
}

.header-l ul li span{
	font-size: 13px;
	color: #393e3e;
}

.header-l ul li a {
	color: #b0b0b0;
	font-size: 12px;
}

.header-r {
		width: 400px;
		float: right;
}

.header-r ul {
	float: right;
}

.header-r ul li {
	float: left;
	height: 40px;
	line-height: 40px;
	margin-right: 8px;
}

.header-r ul li span{
	font-size: 13px;
	color: #393e3e;
}

.header-r ul li a {
	color: #b0b0b0;
	font-size: 12px;
}

.header-r div{
	display: inline-block;
	width:120px;
	position: relative;
	float: right;
	background: #424242;

	
}


.header-r div span {
	line-height: 40px;
	margin-left: 45px;
	font-size: 12px;
	color: #b0b0b0;
	cursor: pointer;
}

.header-r div img{
	position: absolute;
	left: 15px;
	top: 14px;
}

.navwrap {
	height: 100px;
	background: #fff;
}

.nav {
	height: 100px;
	position: relative;
}

.box1 {
	position: absolute;
	top: 41px;
	left: 990px;
	height: 18px;
	width: 82px;
	font-size: 12px;
	color: #757575;
	line-height: 18px;
	background: #eee;
}

.box2 {
	position: absolute;
	top: 41px;
	left: 1081px;
	height: 18px;
	width: 82px;
	font-size: 12px;
	color: #757575;
	line-height: 18px;
	background: #eee;
}

.nav img {
	position: absolute;
	top: 22px;
}

.nav-l {
	width: 623px;
	height: 100px;
	margin-left: 244px;
	float: left;
}

.nav-l ul{
	width: 623px;
	
	
}

.nav-l ul li {
	float: left;
	height: 100px;
	line-height: 100px;
	margin-right: 21px;
	
}

.nav-l ul li a {
	color: #333;
	font-size: 14px;
	
	
}

.nav-r {
	width: 293px;
	height: 48px;
	border:1px solid #e0e0e0;
	float: right;
	margin-top: 25px;
}

.nav-r	input[type=text]{
	height: 48px;
	width: 243px;
	float: left;
}

.nav-r .sousuo {
	display: inline-block;
	border-left: 1px solid #e0e0e0;
	width: 50px;
	height: 48px;
	float: right;
	background: url(../images/sousuo.png) no-repeat center;
}

.bannerwrap {
	height: 460px;
	background: #fff;
}


.banner {
	height: 460px;
	position: relative;
}

.banner-c {
	width: 234px;
	height: 460px;
	background: #9a9898;
	position: absolute;
    top:0;
    opacity: 0.7;
}

.banner-c ul {
	width: 182px ;
	height: 428px;
	margin: 31px 0 0 30px;
}

.banner-c ul li{
	width: 182px ;
	background: url(../images/jian.jpg) no-repeat right;
	margin-bottom: 30px;
	font-size: 14px; 
	line-height: 1;
}

.banner-c ul li a{
	color: #ffffff;
}

.hotwrap {
	height: 210px;
	background: #fff;
}

.hot {
	 height: 210px;
}

.hot-l {
	 height: 170px;
	 width: 234px;
	 background: #ccc;
	 margin-top: 14px;
	 margin-right: 14px;
	 float: left;
}

.hot-l .hot-b {
	width: 78px;
	height: 85px;
	float: left;
	background: #5f5750;
}

.hot-l .hot-b img {
    display: block;
    width: 24px;
    height: 24px;
    /* margin: 0 auto 4px; */
	margin: 22px 0 0 30px;
}

.hot-l .hot-b p {
	font-size: 12px;
	color: #c3c0bd;
	margin-left: 17px;
}

.hot .im {
	margin-top: 13px;
    margin-right: 13px;
    display: block;
    width: 316px;
    height: 170px;
    float: left;
}

.main {
	height: 424px;
	background: #f5f5f5;
}

.main-t {
	height: 62px;
	position: relative;
}

.main-t img {
	position: absolute;
	right: 1px;
	bottom: 10px;
}

.main-t h3{
	height: 62px;
	line-height: 62px;
	font-size: 21px;
	color: #333333;
	font-weight: normal;
}

.main-b {
	height: 361px;
}

.main-l {
	width: 234px;
	height: 339px;
	background: #f1eded;
	border-top: 1px solid #e53935;
	margin-right: 14px;
	float: left;
}

.main-l p {
	color: #ef3a3b;
	font-size: 16px;
	margin: 62px 0 0 79px;
	
}

.main-l img {
	margin-left: 93px;
	margin-top: 30px;
}

.main-l .b1 {
	font-size: 13px;
	color: #706f6f;
	margin-left: 72px;
	margin-top: 32px;
}

.main-l .time {
	width: 168px;
	height: 46px;
	margin-left: 33px;
	margin-top: 32px;
	text-align: center;
}

.main-l .time div {
	width: 46px;
	height: 46px;
	line-height: 46px;
	font-size: 18px;
	float: left;
	color: #fff;
	background: #605751;
	
}

.main-l .time span {
	display: inline-block;
	float: left;
	width: 15px;
	margin-top: 11px;
	font-size: 18px;
	color: #605751;
	
}

.main-r {
	width: 234px;
	height: 339px;
	background: #f1eded;
	border-top: 1px solid #83c44e;
	margin-right: 14px;
	float: left;
}

.main-r img {
	margin: 41px 0 0 56px;
}

.main-r p {
	line-height: 23px;
}

.w3 {
	font-size: 12px;
	color: #202020;
	margin-left: 45px;
	margin-top: 12px;
}

.w4 {
	color: #adadad;
	font-size: 12px;
	margin-left: 70px;
	margin-bottom: 9px;
}

.w5 {
	font-size: 12px;
	color: #fa6509;
	margin-left: 79px;
}

.w5 del {
	color: #adadad;
	
}

.main-q {
	width: 234px;
	height: 339px;
	background: #f1eded;
	border-top: 1px solid #2196f3;
	margin-right: 14px;
	float: left;
}

.main-q img {
	margin: 41px 0 0 56px;
}

.main-q p {
	line-height: 23px;
}


.main-w {
	width: 234px;
	height: 339px;
	background: #f1eded;
	border-top: 1px solid #e53935;
	margin-right: 14px;
	float: left;
}

.main-w img {
	margin: 41px 0 0 56px;
}

.main-w p {
	line-height: 23px;
}

.main-e {
	width: 234px;
	height: 339px;
	background: #f1eded;
	border-top: 1px solid #00c0a5;
	float: left;
}

.main-e img {
	margin: 41px 0 0 56px;
}

.main-e p {
	line-height: 23px;
}


.propaganda {
	height: 120px;
}

.wrap {
	height: 731px;
}

.wrap-t {
	height: 80px;
	background:  #f5f5f5;
	overflow: hidden;
}

.wrap-t h3 {
	font-weight: normal;
	font-size: 20px;
	line-height: 1;
	margin-top: 40px;
	color: #333333;
	float: left;
	
}

.wrap-t span {
	margin-top: 42px;
	float: right;
	font-size: 15px;
    color: #424242;
    margin-left: 32px;
	
}

.wrap-t img {
	margin-top: 42px;
	float: right;
	font-size: 15px;
	color: #424242;
	margin-left: 8px;
	
}

.wrap-b {
	height: 650px;
}

.wrap-b  .wrap-b-l {
	width: 234px;
	height: 650px;
	float: left;
}

.wrap-b  .wrap-b-l img {
	margin-right: 14px;
}

.wrap-b  .wrap-b-r {
	height: 650px;
	width: 978px;
	float: left;
	margin-left: 14px;
}

.wrap-b  .wrap-b-r .wrap-rr{
	height: 300px;
	width: 234px;
	float: left;
	margin-right: 14px;
	background: #fff;
	margin-bottom: 10px;
}

.wrap-b-r .wrap-rr img{
	margin: 37px 0 0 69px;
}

.w6 {
	font-size: 12px;
	color: #202020;
	/* margin-left: 75px; */
    margin-top: 38px;
    text-align: center;
}

.w7 {
	color: #adadad;
	font-size: 12px;
	/* margin-left: 40px; */
    margin-top: 5px;
    text-align: center;
}

.w8 {
	font-size: 12px;
	color: #fa6509;
	margin-left: 88px;
	margin-top: 18px;
}


#ab .ab-t {
	width: 235px;
	height:143px;
	background: #fff;
	margin-bottom: 14px;
	overflow: hidden;
	position:relative;
}

#ab .ab-t .abc{
	font-size: 12px;
	margin: 45px 0 0 30px;
}

#ab .ab-t .w9 {
	font-size: 12px;
	color: #fa6509;
	margin-left: 30px;
	margin-top: 13px;
}


#ab .ab-b {
	width: 235px;
	height:143px;
	background: #fff;
	overflow: hidden;
	position: relative;
	
}

#ab .ab-b .w10{
	color: #333;
	font-size: 17px;
	margin: 54px 0 0 31px;
	
}

#ab .ab-b .w11{
	color: #757575;
	font-size: 12px;
	margin: 5px 0 0 31px;
	
}

