* {
    box-sizing: border-box;
}
.parts{
    background-color: rgb(245, 245, 245);
    width: 100%;
}
.parts-body {
    width: 1228px;
    margin: 0 auto;
}

.parts-body>nav {
    width: 1228px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.parts-nav {
    display: flex;
}

.parts-nav>p {
    padding-bottom: 3px;
}

.parts-nav>p:nth-of-type(1) {
    margin-right: 20px;
}

.parts-nav>p:hover {
    color: orange;
    border-bottom: 1px solid orange;
    cursor: pointer;
}

.parts-body>main {
    width: 1228px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.parts-left {
    width: 235px;
    height: 615px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.parts-left>img {
    width: 235px;
    height: 300px;
    transition: all .3s;
}

.parts-left>img:hover {
    transform: translateY(-5px);
    box-shadow: 1px 1px 5px 1px grey;
    cursor: pointer;
}

.parts-right {
    margin-left: 10px;
    width: 980px;
    height: 615px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.parts-right>.item_parts {
    width: 230px;
    height: 300px;
    text-align: center;
    background-color: white;
    transition: all .3s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item_parts:hover,
.top_parts:hover,
.bottom_parts:hover {
    transform: translateY(-5px);
    box-shadow: 1px 1px 5px 1px grey;
    cursor: pointer;
}

.item_parts>img {
    width: 200px;
    height: 180px;
}

.item_parts p {
    margin: 0;
}

.item_parts>p:nth-of-type(1) {
    font-size: 14px;
}

.item_parts>p:nth-of-type(2) {
    margin-top: 5px;
    font-size: 13px;
    color: grey;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.item_parts>p:nth-of-type(3) {
    margin-top: 10px;
    font-size: 15px;
    color: orange;
}

.item_parts .price del {
    color: grey !important; 
    font-size: 12px;
}

.parts-right>.item_parts:nth-of-type(5),
.parts-right>.item_parts:nth-of-type(6),
.parts-right>.item_parts:nth-of-type(7),
.parts-right>.item_parts:nth-of-type(8) {
    margin-top: 16px;
}

.last_parts {
    margin-top: 16px;
    width: 235px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(245, 245, 245);
}

.last_parts>.top_parts,
.last_parts>.bottom_parts {
    width: 230px;
    height: 140px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    margin-left: 4px;
    transition: all .3s;
}

.top_parts img,
.bottom_parts img {
    width: 80px;
    height: 80px;
}

.top_parts-left,
.bottom_parts-left {
    text-align: left;
}

.top_parts-left p:nth-of-type(1) {
    font-size: 14px;
}

.top_parts-left p:nth-of-type(2) {
    margin-top: 8px;
    font-size: 14px;
    color: orange;
}

.bottom_parts-left p:nth-of-type(1) {
    font-size: 19px;
}

.bottom_parts-left p:nth-of-type(2) {
    font-size: 13px;
    color: grey;
}